.rouge-txt{color:#E6332A;}
.bleu-txt{color:#579FB8;}
.vert-txt{color:#5D8969;}
.text{color:#3C3C3B}
.beige-txt{color:#D8D1CA}
.rouge-back{background-color:#E6332A;}
.bleu-back{background-color:#579FB8}
.vert-back{background-color:#5D8969}
.beige-back{background-color:#D8D1CA}
.logo .st0{fill:#FFFFFF;}
.logo .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
#blason .st0{fill:#C6A04B;}
#blason .st1{fill:#1D1D1B;}
#blason .st2{fill:#FFFFFF;}
#blason .st3{fill:#E5332A;}     
#couronne .st0{fill:#1D1D1B;}
#couronne .st1{fill:#C6A04B;}
#logo2 .st0{fill:#000000;}
#logo2 .st1{fill:#C6A14B;}
#logo2 .st2{fill:#ffffff;}
#logo2 .st3{fill:#E6332A;}